
h1 {
    font-family: 'Prompt', sans-serif;
    font-size: 40px;
    color: rgb(196,99,0);
    text-align: center;
}

header {
    background-color: rgb(219,175,88);
    

}

body {
    background-color:rgb(12,69,0) ;

}